#Configuration info
[Project Info]
    Project = 20127
[OemCommonCapbility]
    ForceSensorFps = 0
    UseOrmsForThirdApp = 0
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399
    isWriteCalibrationDataToEeprom = TRUE
    isMFNRYUVFeatureSupport = TRUE
    SupportDualScene = 1
    SkipFirstFrameInMacroMode = TRUE
    isUsedArcSoftInAinight = FALSE
    isUsedMipiRaw = TRUE
    is16MAXAnalogRealGain = TRUE
    WideCameraSensorName = ov64b
    ForceFrontCommonModeSetting1 = TRUE
    isSupportAISNoSkipPreivew = TRUE
    isAISSapshotDump = TRUE
    isEnableGyroStartAF = FALSE
    OemAddMaxFps = TRUE
    isUsedLongShot = TRUE
    isUsedFlash = TRUE
    isRectifyFDCount = TRUE
    IsEnableAsyncClose = TRUE
    override4kVideoDataSpace = TRUE

[AllSensorNum]
    SensorNum = 4;

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x800B; 0x8021

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 5
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMono1CameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration

[RTBayer2YUVSWMFJPEG]
    #ChiFeature2Type       SWMF  JPEG
    Common = 7;    4;    1;    0

[RTBayer2YUVHDRT1JPEG]
    #ChiFeature2Type
    Common = 0;    1;    5;    4;    22
[MultiCameraMFNRBokehSuperGraph]
    #ChiFeature2Type       HDR  DEMUX  SERIALIZER
     Common = 5;    23;    24

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore   faceBeautyIgnore   useQcomFd  byPassFd
    Mode[0]      =     0x800B;              2;        0;         0;                 0;         0         #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;        0;         0;                 0;         0         #Dual VIDEO
    Mode[2]      =     0x8001;              3;        1;         0;                 0;         0         #COMMON PHOTO
    Mode[3]      =     0x802B;              3;        0;         1;                 0;         1         #Front EIS VIDEO

[Support4KSkipfd]
    is4KNoNeedFD = TRUE

[SupportReduce3ADebugMemory]
    #                captureMode LogicCameraId  slots
    Mode[0]      =     0x8001;        0;         16

[Disable3ADebug]
    CaptureModeList = 0x800B; 0x800C; 0x800D; 0x8021; 0x8028; 0x802B; 0x802C; 0x80A1; 0x80A2; 0x80A3; 0x80A4; 0x80A5; 0x80A7; 0x80A9; 0x80AA; 0x1

[SupportModifyFormat]
    isModifyFormat  =  TRUE

[Video4K60FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   2:Only_EISv2
    ImageStableType = 2

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleMono1CameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono1CameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 17

[SingleMono1CameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0


[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[4]  = 1; 0


[UsecaseMatching]
    UsecaseEngmodeRemosaicSFR = true
    SuperEISUseNormal = 1
    DisablePreviewNode = 0x800b

[DistinguishCameraId]
    isDistinguishCameraId = true

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask   feature_mask
    Mode[0]      =     0x800B;      0x0001;        0x0080         #COMMON NO 4k VIDEO REAR EIS
    Mode[1]      =     0x800C;      0x0001;        0x0000         #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF;        0x0000         #60FPS VIDEO
    Mode[3]      =     0x8028;      0xFFFF;        0x0000         #SUPER EIS VIDEO
    Mode[4]      =     0x802B;      0xFFFF;        0x0000         #FRONT EIS VIDEO
    Mode[5]      =     0x802C;      0x0001;        0x0000         #DualScene VIDEO REAR EIS
    Mode[6]      =     0x80A1;      0xFFFF;        0x0000         #HDR VIDEO
    Mode[7]      =     0x80A2;      0xFFFF;        0x0000         #NIHGT VIDEO
    Mode[8]      =     0x80A4;      0xFFFF;        0x0000         #MOVIE EIS
    Mode[9]      =     0x80A7;      0x0001;        0x0000         #EnhanceVideo REAR EIS

[OemEISMatching]
    #VideoEisMode    captureMode  sensor_mask
    Mode[0]      =     0x802B;      0xFFFF       #FRONT EIS VIDEO
    Mode[1]      =     0x80A7;      0x0002       #EnhanceVideo FRONT EIS

[OplusPreviewMatching]
    #VideoEisMode    captureMode  sensor_mask   feature_mask
    Mode[0]      =     0x800B;      0x0002;       0x0000        #FRONT COMMON VIDEO
    Mode[1]      =     0x80A5;      0xFFFF;       0x0000        #FastMotion Video

[CustomMarginParameter]
    #operation mode     operation_mode     sensor_mask       valuex     valuey
    Mode[0]         =     0x80A7;            0x0001;           12;        12        #EnhanceVideo VIDEO REAR
    Mode[1]         =     0x8028;            0x0001;           30;        30        #SUPER EIS MAIN
    Mode[2]         =     0x8028;            0x0004;           42;        42        #SUPER EIS WIDE

[EISNode]
    isOisSupported   = 0

[EISSensorInfo]
    #SensorName     width     height    binningFactor    binningFactorForFaceRect   bNeedLDC   sensor1xOutputSizeW  sensor1xOutputSizeH
    imx766[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
    imx686[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
    imx616[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
    imx615[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
     hi836[0] =      -1;        -1;         1;                     2;                  1;               0;                  0;
     ov64b[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;

[EISParamBySensorName]
    #SensorName  w    h    fFocalLengthOrFOV fFrameReadout iBlur  fSyncParam[0 1 2 3 4 5 6 7]                    fSensorPose[0 1 2 3]
    imx616[0] =  -1;  -1;  80.6;             0.0249;       0;     0.0020; -0.5; 0.0; 0.0; 0.0; 0.0; 0.0; 0.0;    0.0;     0.0;    -0.25;
    imx615[0] =  -1;  -1;  80.6;             0.0249;       0;     0.0020; -0.5; 0.0; 0.0; 0.0; 0.0; 0.0; 0.0;    0.0;     0.0;    -0.25;
     hi846[0] =  -1;  -1;  98.815;           0.0229;       0;     0.0061; -0.5; 0.0; 0.0; 0.0; 0.0; 0.0; 0.0;   -0.35355; 0.35355; 0.0;
     ov64b[0] =  -1;  -1;  98.815;           0.0229;       0;     0.0014; -0.5; 0.0; 0.0; 0.0; 0.0; 0.0; 0.0;   -0.35355; 0.35355; 0.0;

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3
    MultiCameraList  = 4
    BokehCameraList  = 4
    FusionCameraList = 7

[QuickSnapshotMatching]
    #logicalCameraId            REAR  FRONT
    QuickSnapshotCameraIdList = 0;    1;

[OrmsConfig]
    # Full Portrait mode capture action timeout
    FPCaptureActionTimeout = 6000
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = true
    UseOrmsSenceForThirdApp = true

[AFCapbility]
   AIAFTrackingEnable = 1;

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4624; 3468; 2304; 1728
    RearMonoBokehImgSizeList       = 4624; 3468; 1600; 1200
    RearMonoSecondBokehImgSizeList = 4624; 3468; 1600; 1200
    RWMCaliSize = 4096
    RWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin

[OemCamxSettings]
    numChiThread = 8

[CameraOptMatching]
    #Mode            captureMode  sensor_mask  feature_mask      value
    Mode[0]      =     0x8001;      0xFFFF;       0x0000;         1         #COMMON MODE
    Mode[1]      =     0x800B;      0xFFFF;       0x0000;         1         #4K VIDEO MODE
    Mode[2]      =     0x800D;      0xFFFF;       0x0000;         1         #SLOW VIDEO MODE
    Mode[3]      =     0x8021;      0xFFFF;       0x0000;         1         #60fps VIDEO MODE
    Mode[4]      =     0x8011;      0xFFFF;       0x0000;         1         #REAR BOKEH MODE

[CameraOpt3rdMatching]
    packageName[0]=com.tencent.mm
    packageName[1]=com.ss.android.ugc.aweme
    packageName[2]=com.smile.gifmaker

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           3  #COMMON PHOTO
    Mode[1]         =     0x8001;            0x0001;            0x0020;          -1  #64M REAR
    Mode[2]         =     0x8007;            0xFFFF;            0x0000;           1  #Panorama
    Mode[3]         =     0x800B;            0xFFFF;            0x0000;           1  #COMMON VIDEO
    Mode[4]         =     0x800B;            0x0001;            0x0008;           6  #COMMON VIDEO EIS REAR
    Mode[5]         =     0x800B;            0x0004;            0x0000;           0  #COMMON VIDEO REAR_AUX
    Mode[6]         =     0x800B;            0x0001;            0x0001;           6  #EIS + 4K 30fps REAR
    Mode[7]         =     0x800B;            0x0002;            0x0000;           3  #EIS + 4K 30fps FRONT
    Mode[8]         =     0x800C;            0x0002;            0x0000;           3  #FastVideo FRONT
    Mode[9]         =     0x800C;            0x0001;            0x0000;           6  #FastVideo REAR
    Mode[10]        =     0x8010;            0xFFFF;            0x0000;           12 #HALF PORTRAIT
    Mode[11]        =     0x8011;            0x0001;            0x0000;           2  #FULL PORTRAIT
    Mode[12]        =     0x8011;            0x0004;            0x0000;           3  #FULL PORTRAIT
    Mode[13]        =     0x8019;            0xFFFF;            0x0000;           1  #SN
    Mode[14]        =     0x8019;            0x0004;            0x0000;           0  #SN REAR_AUX
    Mode[15]        =     0x8021;            0x0001;            0x0000;           7  #60FPS VIDEO non 4K REAR
    Mode[16]        =     0x8021;            0x0004;            0x0000;           0  #60FPS VIDEO non 4K REAR_AUX
    Mode[17]        =     0x8021;            0xFFFF;            0x0001;           4  #60FPS VIDEO 4K
    Mode[18]        =     0x800E;            0xFFFF;            0x0000;           1  #Stiker
    Mode[19]        =     0x8028;            0x0001;            0x0000;           5  #SUPER EIS
    Mode[20]        =     0x8028;            0x0004;            0x0000;           4  #SUPER Pro EIS
    Mode[21]        =     0x802B;            0xFFFF;            0x0000;           5  #FRONT EIS
    Mode[22]        =     0x80A2;            0xFFFF;            0x0000;           3  #NightVideo
    Mode[23]        =     0x80A5;            0xFFFF;            0x0000;           6  #FastMotionVideo
    Mode[24]        =     0x80A3;            0x0001;            0x0000;           6  #Movie VIDEO REAR
    Mode[25]        =     0x80A3;            0x0004;            0x0000;           0  #Movie VIDEO REAR_AUX
    Mode[26]        =     0x80A4;            0x0001;            0x0000;           6  #Movie VIDEO REAR EIS
    Mode[27]        =     0x80A4;            0x0004;            0x0000;           0  #Movie VIDEO REAR_AUX EIS
    Mode[28]        =     0x80A7;            0x0001;            0x0000;           6  #EnhanceVideo VIDEO REAR
    Mode[29]        =     0x80A7;            0x0002;            0x0000;           3  #EnhanceVideo VIDEO FRONT
    Mode[30]        =     0x80A7;            0x0002;            0x0008;           5  #EnhanceVideo VIDEO FRONT EIS
    Mode[31]        =     0x802C;            0x0001;            0x8000;           6  #DUALSCENE REAR
    Mode[32]        =     0x802C;            0x0002;            0x8000;           4  #DUALSCENE FRONT

[ThirdAppCamRatioSensorSettingMap]
    #                              setting index
    SENSOR_BININGSIZE30FPS     =       11
    SENSOR_SIZE_16_9_30FPS     =       6

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.android.cts.verifier[0]        =   -1;     -1;    -1;      -1;         -1;            1
    com.tencent.mm[0]                  =    1;     15;    -1;      -1;         -1;            4
    com.tencent.mobileqq[0]            =    1;     15;    -1;      -1;         -1;            4
    com.alibaba.android.rimet[0]       =    1;     15;    -1;      -1;         -1;            4
    com.smile.gifmaker[0]              =    1;     15;    -1;      -1;         -1;            4
    com.tencent.wemeet.app[0]          =    1;     -1;    -1;      -1;         -1;            4
    org.codeaurora.ims[0]              =    1;     -1;    -1;      -1;         -1;            4
    com.whatsapp[0]                    =    1;     -1;   640;     480;         -1;            4
    com.google.ar.core.examples.java.computervision[0] = 0;-1;-1;  -1;         -1;            10
    com.xvideostudio.videoeditor[0]    =    0;     -1;    -1;      -1;         -1;            1

[SetFwkRDIStream]
    isNeeded = false

[IPENode]
    # DisableResetCropInfoForNightMode: TRIPOD(1), HAND(2 3 4), DARKSIGHT(5), FRONTNIGHT(6)
    DisableResetCropInfoForNightMode = 2; 3; 4; 5; 6

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       1;
    Mode[1]        =      0x0;            0x0004;        0x0000;       0;
    Mode[2]        =      0x9001;         0x0001;        0x0000;       2;
    Mode[3]        =      0x9001;         0x0004;        0x0000;       3;
    Mode[4]        =      0x0;            0x0008;        0x0000;       6;
    Mode[5]        =      0x8028;         0x0002;        0x0000;       0;
    Mode[6]        =      0x8025;         0x0004;        0x0000;       3;
    Mode[7]        =      0x8025;         0x0001;        0x0000;       2;

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 1; 0; 0; 1;
    custom.raw.size.QCFA          = 1; 1; 0; 0; 1;

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     1;                 -1;                -1;               0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 -1;               -1       #BIVCM upperBound

[LaserFlicker]
    IsLaserFlickerSupported = false

[OemActuatorInitCode]
    #actuator name       initcode
    ov64b_ak7375c   =   512

[OISSystem]
    isOISSysSupported = false

[OemPDAFCalib]
    isOemPDAFCalib = TRUE

[OemCropWindowCalib]
    isEnableOemCropWindowCalib = TRUE
    maxCropWindowCalibPixel    = 8

[IPENode]
    # The width and heigth from IPE node RefCropWindow
    #                         left  top width  height
    CropWindowForSuperPhoto =   0;   0;  9248;  6936

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x80A7;            0x0002;
    Mode[5]        =      0x802B;            0x0002;
    Mode[6]        =      0x8011;            0x0002;

[ActuatorConfig]
    ParkLensDelayTime = 1000

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  = 8000; 3632
    ImageSizes[1]  = 6560; 4928
    ImageSizes[2]  = 6560; 2976
    ImageSizes[3]  = 6560; 2960
    ImageSizes[4]  = 6560; 3696
    ImageSizes[5]  = 4928; 4928
    ImageSizes[6]  = 4624; 3468
    ImageSizes[7]  = 4208; 1920
    ImageSizes[8]  = 4608; 3456
    ImageSizes[9]  = 4624; 2600
    ImageSizes[10] = 4608; 2592
    ImageSizes[11] = 4608; 2080
    ImageSizes[12] = 3468; 3468
    ImageSizes[13] = 3456; 3456
    ImageSizes[14] =  960; 1080 #dual scene mode
    ImageSizes[15] =  640; 720 #dual scene mode
    ImageSizes[16] =  640; 368 #dual scene mode
    ImageSizes[17] =  464; 464 #dual scene mode
    ImageSizes[18] =  432; 240 #dual scene mode
    ImageSizes[19] =  320; 320 #dual scene mode

[SupportedImageSizes]
#                   width   height
    ImageSizes[0]  =  9248; 6936
    ImageSizes[1]  =  8192; 6144
    ImageSizes[2]  =  8000; 6000
    ImageSizes[3]  =  8000; 3600
    ImageSizes[4]  =  7680; 4320
    ImageSizes[5]  =  6000; 6000
    ImageSizes[6]  =  4624; 3468
    ImageSizes[7]  =  4624; 2608
    ImageSizes[8]  =  4624; 2080
    ImageSizes[9]  =  4608; 3456
    ImageSizes[10] =  4608; 2256
    ImageSizes[11] =  4608; 2080
    ImageSizes[12] =  4608; 2592
    ImageSizes[13] =  4160; 3120
    ImageSizes[14] =  4160; 1872
    ImageSizes[15] =  4000; 3000
    ImageSizes[16] =  4000; 2250
    ImageSizes[17] =  4000; 1800
    ImageSizes[18] =  4096; 3072
    ImageSizes[19] =  4096; 2304
    ImageSizes[20] =  4096; 1840
    ImageSizes[21] =  3840; 2160
    ImageSizes[22] =  3840; 1644
    ImageSizes[23] =  3468; 3468
    ImageSizes[24] =  3456; 3456
    ImageSizes[25] =  3456; 2592
    ImageSizes[26] =  3264; 2448
    ImageSizes[27] =  3264; 1840
    ImageSizes[28] =  3264; 1472
    ImageSizes[29] =  3200; 2400
    ImageSizes[30] =  3168; 1440
    ImageSizes[31] =  3120; 3120
    ImageSizes[32] =  3072; 3072
    ImageSizes[33] =  3000; 3000
    ImageSizes[34] =  2592; 1944
    ImageSizes[35] =  2448; 2448
    ImageSizes[36] =  2400; 1080
    ImageSizes[37] =  2400; 1028
    ImageSizes[38] =  2328; 1746
    ImageSizes[39] =  2592; 1168
    ImageSizes[40] =  2376; 1080
    ImageSizes[41] =  2304; 1728
    ImageSizes[42] =  2304; 1296
    ImageSizes[43] =  2160; 1080
    ImageSizes[44] =  1944; 1944
    ImageSizes[45] =  1920; 1440
    ImageSizes[46] =  1920; 1080
    ImageSizes[47] =  1920; 864
    ImageSizes[48] =  1600; 1200
    ImageSizes[49] =  1600; 800
    ImageSizes[50] =  1600; 720
    ImageSizes[51] =  1584; 720
    ImageSizes[52] =  1440; 1080
    ImageSizes[53] =  1280; 960
    ImageSizes[54] =  1280; 720
    ImageSizes[55] =  1200; 1200
    ImageSizes[56] =  1200; 540
    ImageSizes[57] =  1080; 1080
    ImageSizes[58] =  1024; 768
    ImageSizes[59] =  800;  400
    ImageSizes[60] =  792;  360
    ImageSizes[61] =  720;  540
    ImageSizes[62] =  720;  480
    ImageSizes[63] =  640;  640
    ImageSizes[64] =  640;  480
    ImageSizes[65] =  352;  288
    ImageSizes[66] =  320;  240
    ImageSizes[67] =  176;  144

[SupportedImageSizesGSI]
#                    width  height
    ImageSizes[0]  =  4624; 3468
    ImageSizes[1]  =  4000; 3008
    ImageSizes[2]  =  4000; 3000
    ImageSizes[3]  =  3840; 2160
    ImageSizes[4]  =  3280; 2464
    ImageSizes[5]  =  3264; 2448
    ImageSizes[6]  =  3000; 3000
    ImageSizes[7]  =  3008; 3008
    ImageSizes[8]  =  2880; 2160
    ImageSizes[9]  =  2592; 1944
    ImageSizes[10] =  2328; 1748
    ImageSizes[11] =  2160; 1080
    ImageSizes[12] =  1920; 1080
    ImageSizes[13] =  1600; 1200
    ImageSizes[14] =  1440; 1080
    ImageSizes[15] =  1280; 960
    ImageSizes[16] =  1280; 720
    ImageSizes[17] =  1080; 1080
    ImageSizes[18] =   720; 480
    ImageSizes[19] =   640; 640
    ImageSizes[20] =   640; 480
    ImageSizes[21] =   352; 288
    ImageSizes[22] =   320; 240
    ImageSizes[23] =   176; 144

[SupportedThumbnailSizesGSI]
#                       width  height
    ThumbnailSizes[0]  =    0; 0
    ThumbnailSizes[1]  =  176; 144
    ThumbnailSizes[2]  =  240; 120
    ThumbnailSizes[3]  =  213; 160
    ThumbnailSizes[4]  =  240; 144
    ThumbnailSizes[5]  =  256; 144
    ThumbnailSizes[6]  =  240; 160
    ThumbnailSizes[7]  =  256; 154
    ThumbnailSizes[8]  =  246; 184
    ThumbnailSizes[9]  =  250; 188
    ThumbnailSizes[10] =  352; 160
    ThumbnailSizes[11] =  240; 240
    ThumbnailSizes[12] =  320; 180
    ThumbnailSizes[13] =  400; 180
    ThumbnailSizes[14] =  320; 240
    ThumbnailSizes[15] =  360; 240
    ThumbnailSizes[16] =  375; 282

[ArcsoftDCHalMatching]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0004         #COMMON VIDEO REAR_AUX
    Mode[1]         =     0x80A3;            0x0004         #Movie VIDEO REAR_AUX

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30 ;
    OemFpsRange[1] =        15 ;          15;
    OemFpsRange[2] =        15 ;          20;
    OemFpsRange[3] =        20 ;          20;
    OemFpsRange[4] =        30 ;          30;

[ProfessionModeSetParam]
    # APP set ISO and exposureTime value range
    #                          ISO_min    ISO_max    S_min    S_max
    ISOAndExposureTimeRange =  100;       6395;      125000;  40000000

[AIAFSalientObj2track]
    DisableSalientObj2track = true

[Capability]
    lookaheadTransformSupported = TRUE

[SlaveCamIdFDNodeConfig]
    NoFDNode[2] = TRUE

[FrontCamIdAIEnhanceConfig]
    OrmsFrontAIConfig[1] = TRUE

[OemFDSelect]
    Is3rdApkUsePlatformFD = true

[FDManager]
    IsDefaultAsyncFdInit = true

[IPESizeSwitch]
    isNeedEnable = 1;

[IPESize]
    #                  sensor_mask  input_height   IPEwidth   IPEheight
    Mode[0]         =    0x0001;      480;          1440;      1080  #Main 480P
    Mode[1]         =    0x0001;      720;          1440;      1080  #Main 720P
    Mode[2]         =    0x0002;      480;          1440;      1080  #Front 480P
    Mode[3]         =    0x0002;      720;          1440;      1080  #Front 720P

[OemCtsCapbility]
    isNoPreviewNodeCts = TRUE

[GyroSensorName]
    SensorName[0] = lsm6ds3c;
    SetGyroTypeMeta = FALSE;
    RearADCReadout = 3;
    FrontADCReadout = 3;

[PerfSceneMatching]
    #operation mode     operation_mode     sensor_mask        feature_mask         value
    Mode[0]         =     0x800B;            0x0001;           0x0001;              42         #COMMON 4k VIDEO Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[1]         =     0x8028;            0x0001;           0x0000;              42         #SUPER EIS Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[2]         =     0x8028;            0x0004;           0x0000;              54         #SUPER EIS Mode-PERF_ID_CAMERA_VIDEO_PREVIEW_30FPS
    Mode[3]         =     0x80A3;            0xFFFF;           0x0000;              39         #Movie video Mode-PERF_ID_CAMERA_VIDEO_HFR_720P
    Mode[4]         =     0x80A4;            0xFFFF;           0x0000;              39         #Movie video Mode-PERF_ID_CAMERA_VIDEO_HFR_720P
    Mode[5]         =     0x80A7;            0x0001;           0x0000;              44         #EnhanceVideo Mode-PERF_ID_CAMERA_VIDEO_SUPER_EIS_60FPS

[ThirdAppPerfSceneMatching]
    #                                   camera id  FPS    width    height  operation mode   value
    com.tencent.mm[0]                  =    -1;     -1;    640;      480;         -1;         61         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mm[0]                  =    -1;     -1;    1280;     720;         -1;         61         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mobileqq[0]            =    -1;     -1;    640;      480;         -1;         53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[0]              =    -1;     15;    -1;        -1;         -1;         53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.facebook.katana[0]             =     1;     30;    -1;        -1;         -1;         53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.whatsapp[0]                    =     1;     -1;    640;      480;         -1;         53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.campmobile.snowcamera[0]       =    -1;     -1;    -1;        -1;         -1;         60         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_SPECIAL_APP

[MemoryFlagMatching]
    #Mode            captureMode  sensor_mask  flag
    Mode[0]      =     0x8028;      0xFFFF;    0x11     #Super EIS Mode

[MinAdditionalNeededRequests]
    #                  operation_mode   MinAdditionalNeededRequests
    Mode[0]        =      0x8021;                   5              #60FPS VIDEO
    Mode[1]        =      0x8028;                   5              #SUPEREIS VIDEO

[PinFiles]
    so[0]=/vendor/lib64/com.qti.feature2.gs.bitra.so;
    so[1]=/vendor/lib64/com.qti.feature2.anchorsync.bitra.so;
    so[2]=/vendor/lib64/com.qti.feature2.demux.bitra.so;
    so[3]=/vendor/lib64/com.qti.feature2.frameselect.bitra.so;
    so[4]=/vendor/lib64/com.qti.feature2.fusion.bitra.so;
    so[5]=/vendor/lib64/com.qti.feature2.generic.bitra.so;
    so[6]=/vendor/lib64/com.qti.feature2.hdr.bitra.so;
    so[7]=/vendor/lib64/com.qti.feature2.memcpy.bitra.so;
    so[8]=/vendor/lib64/com.qti.feature2.mfsr.bitra.so;
    so[9]=/vendor/lib64/com.qti.feature2.qcfa.bitra.so;
    so[10]=/vendor/lib64/com.qti.feature2.rawhdr.bitra.so;
    so[11]=/vendor/lib64/com.qti.feature2.rt.bitra.so;
    so[12]=/vendor/lib64/com.qti.feature2.serializer.bitra.so;
    so[13]=/vendor/lib64/com.qti.feature2.stub.bitra.so;
    so[14]=/vendor/lib64/com.qti.feature2.swmf.bitra.so;
    so[15]=/vendor/lib64/libipebpsstriping.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[17]=/vendor/lib64/libcamxifestriping.so;
    so[18]=/vendor/lib64/libcamxswprocessalgo.so;
    so[19]=/vendor/lib64/libipebpsstriping.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;

[SuperEis]
    fps = 60

[PackageNameForSmomo]
    IsNeedSet60fps = com.eg.android.AlipayGphone;

[PreviewNode]
    isNoNeedPreviewNode = 1

[OemActuatorInitCode]
    #actuator name       initcode
    ov64b_ak7375c   =   512

[ActuatorName]
    name  =   ov64b_ak7375c

[OemMediaRecorderCtsSizeMap]
    #                                   width         height
    OemMediaRecorderCtsSize[0] =        176;          144;

